<!-- XML-QSTAT configuration file -->
<config>

<!--
    This value should be changed to reflect your local timezone as it
    relates to UTC. This offset value is used when constructing
    RFC-3339 validated timestamps that look something like this:

        1990-12-31T23:59:60Z
	1996-12-19T16:39:57-08:00

    The cocoon server will report proper local date time information,
    but we need to insert the UTC correction info for the rss feed

    Setting "Z" means no correction (UTC time matches)

    CET (Central European Time) is 1 hour ahead of UTC, thus "+01:00"
    EST (east coast USA) is 5 hours behind UTC, thus "-05:00"

    Change the following param accordingly to your UTC offset.
-->
<UTC_TZ_offset>+01:00</UTC_TZ_offset>

<!--
    BROKEN AT THE MOMENT:
    Set this to 'yes' if you have created the load alarm
    threshold configuration file 'CONFIG_alarm-threshold.xml'
    file and want the xmlqstat interface to take this data into
    consideration.
-->
<use_alarm-threshold_data>no</use_alarm-threshold_data>

<!--
    NOT YET IMPLEMENTED (ALWAYS ENABLED)
    Set this to 'yes' if you have the qlicserver program
    and wish to view the resource allocation
-->
<have_qlicserver>yes</have_qlicserver>

<!--
    specify an external program for viewing the stdout files
    - the jobId, filenames, etc. are passed via the queryString
    leave empty if you don't have such a program
-->
<viewfileProgram>http://dealog01:8080/xmlqstat/viewfile</viewfileProgram>

<!--
    specify an external program for finding and viewing the log files
    - the jobId, filenames, etc. are passed via the queryString
    leave empty if you don't have such a program
-->
<viewlogProgram>http://dealog01:8080/xmlqstat/logview</viewlogProgram>

</config>
