<?xml version="1.0" encoding="UTF-8"?>
<config>
<!-- XML-QSTAT configuration file -->

<!--
    If the 'qlicserver' entity exists and has the attribute enabled="false",
    the viewing of the resource allocation reported by the qlicserver program
    will be disabled.
    Other values (or a missing entry) are interpreted as enabled="true".
-->
<qlicserver enabled="true"/>

<!--
    specify an external program for querying the jobinfo
    - the jobId, etc. are passed via the queryString
-->
<programs>
  <!--
      Cocoon only:
      specify an external program for obtaining the qstat -j information
      - leave empty if you don't have such a program, or if you wish
        to use the CommandGenerator
  -->
  <jobinfo>http://dealog01:8080/xmlqstat/jobinfo</jobinfo>

  <!--
      specify an external program for viewing the stdout files
      (jobId, filenames, etc. are passed via the queryString)
      - leave empty if you don't have such a program
  -->
  <viewfile>http://dealog01:8080/xmlqstat/viewfile</viewfile>

  <!--
      specify an external program for finding and viewing the log files
      (jobId, filenames, etc. are passed via the queryString)
      - leave empty if you don't have such a program
  -->
  <viewlog>http://dealog01:8080/xmlqstat/logview</viewlog>

</programs>

<!--
    define a logo for all of the pages and the link location
    <topLogo src="config/xmlqstat-logo.png" href="http://www.xml-qstat.org" height="29" />
-->
<topLogo src="config/logo.png" href="http://dealog01:8080" height="29"/>

<!--
    define cluster settings and if a default cluster is allowed
    @name - SGE_CLUSTER_NAME required for 'cluster' but not for 'default'
    @root - SGE_ROOT required unless @baseURL is used
    @cell - SGE_CELL optional, provided the downstream uses 'default'
    @baseURL - optional means of getting at resources, needs a trailing slash

    If the 'default' entity exists in 'clusters' and has the attribute
    enabled="false", the default (unnamed) cluster will be disabled.
    Other values (or a missing entry) are interpreted as enabled="true".
-->
<clusters>
  <default
      enabled="true"
      root="/opt/grid"
      cell="default"
      />

  <cluster
      name="augsburg01"
      root="/data/app/grid01"
      cell="default"
      />
  <cluster
      name="augsburg02"
      root="/data/app/grid02"
      cell="default"
      />

</clusters>

</config>
<!-- end-of-file -->
