<!-- XML-QSTAT configuration file -->
<config>

<!--
    Change this value to reflect your local timezone relative to UTC.
    This offset is used when constructing RFC-3339 validated timestamps that
    look like this:

        1990-12-31T23:59:60Z
	1996-12-19T16:39:57-08:00

    The cocoon server will report proper local date time information,
    but we need to insert the UTC correction info for the RSS feed

    Setting "Z" means no correction (UTC time matches)

    CET (Central European Time) is 1 hour ahead of UTC, thus "+01:00"
    EST (East coast USA) is 5 hours behind UTC, thus "-05:00"

    Change the following param accordingly to your UTC offset.
-->
<UTC_TZ_offset>+01:00</UTC_TZ_offset>

<!--
    BROKEN AT THE MOMENT:
    Set this to 'yes' if you have created the load alarm
    threshold configuration file 'config/alarm-threshold.xml'
    file and want the xmlqstat interface to take this data into
    consideration.
-->
<use-alarm-threshold>no</use-alarm-threshold>

<!--
    Set this to 'yes' if you have the qlicserver program
    and wish to view the resource allocation
-->
<qlicserver>yes</qlicserver>

<!--
    Set this to 'yes' if you wish to use JavaScript
    may cause compatibility issues with some browser versions
-->
<useJavaScript>yes</useJavaScript>

<!--
    specify an external program for querying the the jobinfo
    - the jobId, etc. are passed via the queryString
-->
<programs>
  <jobinfo>http://dealog01:8080/xmlqstat/jobinfo</jobinfo>

  <!--
      specify an external program for viewing the stdout files
      - the jobId, filenames, etc. are passed via the queryString
      leave empty if you don't have such a program
  -->
  <viewfile>http://dealog01:8080/xmlqstat/viewfile</viewfile>

  <!--
      specify an external program for finding and viewing the log files
      - the jobId, filenames, etc. are passed via the queryString
      leave empty if you don't have such a program
  -->
  <viewlog>http://dealog01:8080/xmlqstat/logview</viewlog>
</programs>

<!--
    define a logo for all of the pages and the link location
    <topLogo src="images/xml-qstat-logo.png" width="150" />
-->
<topLogo src="images/emconLogo.png" width="225" href="http://dealog01:8080"/>

<!-- define cluster settings -->
<clusters>
  <cluster name="augsburg01" root="/data/app/grid"  cell="default" />
  <cluster name="augsburg02" root="/data/app/n1ge6" cell="default" />
</clusters>

</config>
<!-- end-of-file -->
