/* text/css */
table.JDOverview {
    border-width: 1px 1px 1px 1px;
    border-spacing: 2px 2px;
    border-style: inset;
    border-color: #8CACBB;
    border-collapse: collapse;
}

table.JDOverview th {
    border-width: 1px 1px 1px 1px;
    padding: 4px;
    border-style: inset;
    border-color: #8CACBB;
    background-color: #DEE7EC;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-variant: normal;
    text-align: right;
    vertical-align: top;
    color: #000000;
    font-size: small;
    margin-right: 4px;
    width: 30px;
}

table.JDOverview td {
    width: 100px;
    border-top: 1px none;
    border-right: 1px none;
    border-bottom: 1px none;
    border-left: 1px none;
    padding: 0px 3px 3px;
    border-style: inset;
    border-color: #8CACBB;
    font-size:12px;
    font-family: monospace;
}


#main JDOverview #schedMsgList  .odd:hover { background: #eed; color: #000 }
#main JDOverview #schedMsgList .even:hover { background: #eed; color: #000 }
#main JDOverview #aJobInfoList  .odd:hover { background: #eed; color: #000 }
#main JDOverview #aJobInfoList .even:hover { background: #eed; color: #000 }

#main .qstat #activeJobRow:hover  { background: #eed; color: #000 }
#main .qstat .schedMesgRow:hover  { background: #eed; color: #000 }

#main .qstat tr {
    font-family: "Courier New", Courier, mono;
    font-size: .8em;
}

#main .JDOverview #schedMsgList .even {
    padding-bottom: 2px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

#main .JDOverview #schedMsgList .odd {
    padding-bottom: 2px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}


#main .JDOverview #schedMsgHeader {
    background-color: #FFFFFF;
}

/* end-of-file */
