   
   body {
   margin:10px 20px 0px;
   }
   
   #main {
	border:1px solid #000;
	background:#fff;
	margin-top: 1px;
	padding-top: 1px;
   }
   
   #main #menu {
	background:#DEE7EC;
	margin:0px;
	font-size:12px;
	font-family: monospace;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
   }
   
    #main #bottomBar {
	margin: 2px;
	padding: 2px;
	font-size:small;
	font-family: monospace;
	text-align: right;
	border-top-width: 1px;
	border-top-style: dashed;
   }
   
    #main #upperBar {
	margin: 2px;
	padding: 2px;
	font-size:small;
	font-family: monospace;
	font-weight: normal;
	font-variant: normal;
	text-align: right;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
   }
   
   p,h1,pre {
   margin:0px 10px 10px 10px;
   }
   
   pre {
   font-size: small;
   }
   
   h1 {
   font-size:14px;
   padding-top:10px;
   }
   
   #menu p { 
   font-size:12px;
   font-family: monospace;
   }
   
   .ResourceDetailLayer {
   border-width: thin thin thin thin;
   border-spacing: 2px 2px;
   border-style: inset;
   border-color: #000000;
   padding: 4px 4px 4px 4px;
   margin-top: 10px;
   position:absolute;
   text-align: justified;
   width:auto; 
   height:30%;
   overflow: auto; 
   z-index:3; 
   visibility: visible; 
   background: #ffffff; 
   }
   
   .DebugDetailLayer {
   border-width: thin 2px 3px thin;
   border-spacing: 2px 2px 2px 2px;
   border-style: solid;
   border-color: #000000;
   padding: 4px 4px 4px 4px;
   margin: 10px 4px 4px 4px;
   position:absolute;
   text-align: justified;
   font-family: monospace;
   width:70%; 
   height:25%;
   overflow: auto; 
   z-index:3; 
   visibility: invisible; 
   display: none;
   background: #ffffff; 
   }
   
   .unnamed1 {
	margin-top: 1px;
	border-top: 1px none;
	border-right: 1px none;
	border-bottom: 1px solid;
	border-left: 1px none;
	font-size: 12px;
	font-family: monospace;
	padding: 1px 1px 0px;
	margin-bottom: 0px;
   }
   
   code  { 
   font-family: monospace; 
   }
   
   .boldcode {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-variant: normal;
    color: #000000;
    font-size: small;
   }
   
   .activejob {
   font-family: monospace;
   font-variant: normal;
   color: #000000;
   }
   
   .alarmcode {
   font-family: monospace; 
   font-style: italic;
   font-weight: bold;
   color: #666666;
   font-size: small;
   }
   
   .pendheader {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	vertical-align: middle;
   }
   
	#main .infoSectionHead {
		font-family:  Geneva, Arial, Helvetica, sans-serif;
		font-size: .8em;
	}
	#main .infoPara {
		font-family:  Geneva, Arial, Helvetica, sans-serif;
		font-size: 0.7em;
	}
	#main .infoHeading {
		font-family:  Geneva, Arial, Helvetica, sans-serif;
		font-size: 1em;
	}
   
  .actheader {
   font-family: Geneva, Arial, Helvetica, sans-serif;
   font-size: 14px;
   }
   
   
   .visToggleElement {
   font-family: Geneva, Arial, Helvetica, sans-serif;
   font-size: small;
   -moz-border-radius: 0px 0px 0px 0px;
   text-align: right;
   margin-left: 0px;
   border: 0px inset #8CACBB;
   }
   
   .tableDescriptorElement {
   font-family: Geneva, Arial, Helvetica, sans-serif;
   font-size: small;
   -moz-border-radius: 0px 0px 0px 0px;
   text-align: left;
   margin-right: 0px;
   float: left;
   border: 0px inset #FFFFFF;
   }
   
   table.qstat {
   border-width: thin thin thin thin;
   border-spacing: 2px 2px;
   border-style: inset;
   border-color: #8CACBB; 
   border-collapse: collapse;
   background-color: white;
   }


   table.qstat th {
	border-width: 1px 1px 1px 1px;
	padding: 2px 4px;
	border-style: inset;
	border-color: #8CACBB;
	background-color: #DEE7EC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
   -moz-border-radius: 0px 0px 0px 0px;
	font-weight: normal;
   }
   
   table.qstat td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 3px;
	border-style: inset;
	border-color: #8CACBB;
   -moz-border-radius: 0px 0px 0px 0px;
	margin-right: 3px;
	margin-left: 3px;
   }
   
	#main .qstat #summaryGraph {
		padding-top: 2px;
		padding-bottom: 2px;
	}
	#main .qstat .visToggleElement img {
		padding-right: 2px;
	}
		  
   .qstatContent {
   border-top: 1px none;
   border-right: 1px none;
   border-bottom: 1px none;
   border-left: 1px none;
   margin:10px 10px 10px 10px;
   padding: 4px 4px 4px 4px;
   }
   
   .bottomBox {
   font-family: "Courier New", Courier, mono;
   font-size: small;
   font-style: normal;
   line-height: 50px;
   height: 50px;
   vertical-align: middle;
   border: 2px none;
   }
   
   .floatheader {
   font-family: "Courier New", Courier, mono;
   background-color: #DEE7EC;
   text-align: right;
   vertical-align: middle;
   padding: 2px 2px 2px 2px;
   margin:  2px 2px 2px 2px;
   border: thin solid #8CACBB;
   }

   .progbarOuter {
	width: 90%;
	background: #e7ffff;
	border: 1px solid #333;
	vertical-align: top;
	margin-left: 0.2em;
	margin-top: 0.1em;
	margin-right: 0.5em;
   }
   
   .progbarInner {
   height:10px; 
   width: 100%; 
   margin: 0; 
   padding: 0; 
   background: #ABB7D6;
   text-indent: 2px;
   }
   
   .progbarFont {
   font: 9px Verdana, Arial, sans-serif; 
   color: #ffff; 
   text-align: center;
   }
   
   .iconOuter {
   height: 10px; 
   width: 20px; 
   background: #fff; 
   border: 1px solid #8CACBB; 
   margin: .5em; 
   padding: 0;
   }
   
   .iconInner {
   height:10px; 
   width: 20px; 
   margin: 0; 
   padding: 0; 
   background: #8CACBB;
   text-indent: 2px;
   vertical-align: middle;
   }
   
   .iconFont {
   font: 9px Verdana, Arial, sans-serif; 
   color: #000000; 
   text-align: center;
   margin 1px;
   }



      
.qstDiv { visibility: visible;   display: inline;  }
.AJDiv  { visibility: visible;   display: inline;  }
.PJDiv  { visibility: visible;   display: inline;  }


#main .qstat tbody                     { background: #f6f6f6; border-color: #ccc; color: #333 }
#main #activeJobTable   .qstat .odd     { background: #f6f6f6; border-color: #ccc; color: #333 }
#main #activeJobTable   .qstat .even    { background: #e7ffff; border-color: #cee; color: #099 }
#main #activeJobTable   .qstat tr:hover { background: #eed; color: #000 }
#main #pendingJobTable  .qstat tr:hover { background: #eed; color: #000 }
#main #queueStatusTable .qstat tr:hover { background: #eed; color: #000 }

#main #queueStatusTable img {
	padding-right: 2px;
	vertical-align: text-top;
}


#main ul {
	list-style-position: inside;
	list-style-image: url(images/icons/silk/bullet_blue.png);
	list-style-type: circle;
}
