/* text/css */
body {
    margin: 10px 20px 0px;
}

/* a:active { text-decoration: none; } */

a:link {
    text-decoration: none;
    color: #00C;
}

a:visited {
    text-decoration: none;
    color: #00C;
}

a:hover {
    text-decoration: underline;
}

#main {
    border: 1px solid #000;
    background: #FFF;
    margin-top: 1px;
    padding-top: 1px;
}

#main #menu {
    background: #DEE7EC;
    margin: 0px;
    font-size: 12px;
    font-family: monospace;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000;
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 1px;
}

.dividerBarAbove {
    margin: 2px;
    padding: 2px;
    font-size: small;
    font-family: monospace;
    font-weight: normal;
    font-variant: normal;
    text-align: right;
    border-bottom-color: #000;
    border-top-width: 1px;
    border-top-style: dashed;
}

.dividerBarBelow {
    margin: 2px;
    padding: 2px;
    font-size: small;
    font-family: monospace;
    font-weight: normal;
    font-variant: normal;
    text-align: right;
    border-bottom-color: #000;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
}


p,h1,pre {
    margin: 0px 10px 10px 10px;
}

pre {
    font-size: small;
}

h1 {
    font-size: 14px;
    padding-top: 10px;
}

#menu p {
    font-size: 12px;
    font-family: monospace;
}

.ResourceDetailLayer {
    border-width: thin thin thin thin;
    border-spacing: 2px 2px;
    border-style: inset;
    border-color: #000;
    padding: 4px 4px 4px 4px;
    margin-top: 10px;
    position: absolute;
    text-align: justify;
    width: auto;
    height: 30%;
    overflow: auto;
    z-index: 3;
    visibility: visible;
    background: #FFF;
}

.DebugDetailLayer {
    border-width: thin 2px 3px thin;
    border-spacing: 2px 2px;
    border-style: solid;
    border-color: #000;
    padding: 4px 4px 4px 4px;
    margin: 10px 4px 4px 4px;
    position: absolute;
    text-align: justify;
    font-family: monospace;
    width: 70%;
    height: 25%;
    overflow: auto;
    z-index: 3;
    visibility: hidden;
    display: none;
    background: #FFF;
}

.topLogo {
    margin-top: 1px;
    border-top: 1px none;
    border-right: 1px none;
    border-bottom: 1px solid;
    border-left: 1px none;
    font-size: 12px;
    font-family: monospace;
    padding: 1px 1px 0px;
    margin-bottom: 0px;
    text-align: left;
}

code {
    font-family: monospace;
}

.boldCode {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-variant: normal;
    color: #000;
    font-size: small;
}

/* combined code and boldCode */
.outputCode {
    font-family: monospace;
    font-weight: normal;
    font-variant: normal;
    color: #000;
    font-size: small;
}


.alarmCode {
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
    color: #666;
    font-size: small;
}

#main .infoSectionHead {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: .8em;
}

#main .infoPara {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}

#main .infoHeading {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.skipTableFormat {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    vertical-align: middle;
}

.visToggleElement {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: small;
    -moz-border-radius: 0px 0px 0px 0px;
    text-align: right;
    margin-left: 0px;
    border: 0px inset #8CACBB;
}

.tableDescriptorElement {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: small;
    -moz-border-radius: 0px 0px 0px 0px;
    text-align: left;
    vertical-align: top;
    margin-right: 0px;
    float: left;
    border: 0px inset #FFF;
}

table.qstat {
    border-width: thin thin thin thin;
    border-spacing: 2px 2px;
    border-style: inset;
    border-color: #8CACBB;
    border-collapse: collapse;
    background-color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-variant: normal;
    font-size: small;
}


table.qstat th {
    border-width: 1px 1px 1px 1px;
    padding: 2px 4px;
    border-style: inset;
    border-color: #8CACBB;
    -moz-border-radius: 0px 0px 0px 0px;
    background-color: #DEE7EC;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-variant: normal;
    font-size: small;
}

table.qstat td {
    border-width: 1px 1px 1px 1px;
    padding: 1px 3px;
    border-style: inset;
    border-color: #8CACBB;
    -moz-border-radius: 0px 0px 0px 0px;
    margin-right: 3px;
    margin-left: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-variant: normal;
    font-size: small;
}

/* embedded table */
table.embedded {
    border-style: hidden;
    border-spacing: 0px;
    border-collapse: collapse;
}

table.embedded th {
    border-style: hidden;
    padding: 0px;
}

table.embedded td {
    border-style: hidden;
    padding: 0px;
}


#main .qstat #summaryGraph {
    padding-top: 2px;
    padding-bottom: 2px;
}
#main .qstat .visToggleElement img {
    padding-right: 2px;
}

.bottomBox {
    font-family: "Courier New", Courier, mono;
    font-size: small;
    font-style: normal;
    line-height: 50px;
    height: 50px;
    vertical-align: middle;
    border: 2px none;
}

.progbarInner {
    height: 10px;
    width:  100%;
    left:   0;
    margin: 0;
    padding: 0;
    background: #ABB7D6;
    text-indent: 2px;
}

.progbarOuter {
    width: 90%;
    background: #E7FFFF;
    border: 1px solid #333;
    vertical-align: top;
    margin-left: 0.2em;
    margin-top: 0.1em;
    margin-right: 0.5em;
}

.progbarFont {
    font: 9px Verdana, Arial, sans-serif;
    color: #000;
    text-align: center;
    text-indent: 2px;
}

/* default visibility for activeJobTable */
.activeJobTable { 
    visibility: visible; 
    display:    inline;
}

/* default visibility for pendingJobTable */
.pendingJobTable {
    visibility: visible;
    display:    inline;
}

#main .qstat tbody     { background: #F6F6F6; border-color: #CCC; color: #333 }
#main .qstat tr:hover  { background: #EED; color: #000 }
#main .qstat .odd      { background: #F6F6F6; border-color: #CCC; color: #333 }
#main .qstat .even     { background: #E7FFFF; border-color: #CEE; color: #099 }


#main #queueStatusTable img {
    padding-right: 2px;
    vertical-align: text-top;
}

#main ul {
    list-style-position: inside;
    list-style-image: url(images/icons/silk/bullet_blue.png);
    list-style-type: circle;
}

/* end-of-file */
